<div class="center hero-unit">
	<% if logged_in? %>
		<section>
      <%= render 'shared/stats_user' %>
    </section>	  
  <% else %>
	  <h1>Media Tracker</h1>

	  <h2>
	  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam posuere pharetra mattis. Ut sit amet ornare tellus. Integer convallis lacinia quam in gravida. Praesent tempus, diam et imperdiet faucibus, libero nunc blandit massa, ut aliquam felis quam at metus. Sed sem elit, adipiscing et eros nec, tincidunt egestas turpis. Maecenas ut est in nisl tristique laoreet. Donec vitae pellentesque ligula. Vivamus mattis felis sed odio fermentum euismod. Donec nec odio sit amet tortor gravida consequat eu ac nunc. In molestie nulla at tellus rutrum vestibulum.
	  </h2>

	  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  <% end %>
</div>
