<footer class="footer">
  <small>
    <a href="https://github.com/WeiyiLi/project_cs369">Github</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
    </ul>
  </nav>
</footer>
